
#
# lolMiner 1.0 configuration
# uncomment a line (remove the starting "#") to set an option in this file
# The available options are the same as in the command line
# See readme.txt to get a list of available options  
#

################################################################################
# Required Options
################################################################################

algo=TON
pool=https://server1.whalestonpool.com
user=EQDIhx4r-8m-tbbqKD6QORZG0WgAzNpk2AYCkLK_7HzcGrMK

################################################################################
# Comfort functions
################################################################################

# apiport=<the port to open api>
# shortstats=<interval between the short statiscics>
# longstats=<interval between the verbose statiscics>

